{% extends 'global/base.html' %}

{% block content %}
    <div class="single-contact">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ contact.first_name }} {{ contact.last_name }}</h1>
        <a href="{% url 'arcanjo:index' %}" class="btn btn-primary">Voltar</a>
      </div>      

        <p><b>ID: </b> {{ contact.id }}</p>
        <p><b>Email: </b> {{ contact.email }}</p>
        <p><b>Celular: </b> {{ contact.phone }}</p>
        <p><b>Data de Criação: </b> {{ contact.created_date }}</p>
        <p><b>Descrição: </b> {{ contact.description }}</p>
        <p><b>Categoria: </b> {{ contact.category.name }}</p>

        {% if contact.picture %}
          <p>
            <img src="{{ contact.picture.url }}" alt="{{ contact.first_name }} {{ contact.last_name }}">
          </p>
        {% endif %}

        <div class="d-grid gap-2 col-6 mx-auto">
          <a class="btn btn-primary" href="{% url 'arcanjo:update' contact.id %}">Update</a></button>      
          <a class="btn btn-danger" href="{% url 'arcanjo:delete' contact.id %}">Delete</a></button>  

          <form action="{% url 'arcanjo:delete' contact.id %}" method="POST">
            {% csrf_token %}
            <br>
            {% if confirmation == 'no' %}
              <input type="hidden" name="confirmation" value="yes">
              <button class="btn btn-outline-warning d-grid gap-2 col-6 mx-auto" type="submit">Confirma?</button>
            {% endif %}
          </form>
          <br>
        </div>
    </div>
{% endblock content %}